<h1> Anything I want!? <h1>

<p> BeepBeepBoopboop

<% 
sounds = ["robot sounds", "machine noises", "industrial sounds", "techno sound"]
%>

<p> I have <%= sounds.count%> sound: </p>

<ul>
  <%for tings in sounds %>
  <li> <%= sounds %></li>
  <% end %>

  </ul>
  